.navbar {
    box-shadow: $basic-shadow;
    &-burger {
        &-trigger {
            width: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-left: auto;
        }

        &-span {
            display: block;
            height: 1px;
            width: 1.5rem;
            background-color: black;

            &:not(:nth-of-type(1)) {
                margin-top: 5px;
            }
        }
    }

    &-menu {
        &.show {
            font-size: 1.5em;
            text-align: center;
            font-weight: 700;
            display: block;
        }
    }
}
