html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

.app {
  min-height: 100vh;

  &.loading {
    filter: blur(15px);
    pointer-events: none;
  }
}

.fullscreen-height {
  height: 100vh - $header-height;
}
